* {
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
button {
  cursor: pointer;
  height: 40px;
  border-radius: 20px;
  border: solid 1px black;
  padding: 0 15px;
}

h1 {
  display: none;
  margin-bottom: 20px;
}